<!--Loading Area-->
<div *ngIf="loading" class="loader-box">
  <div class="loader"></div>
  <div class="textt">LOADING...</div>
</div>
<!--Loading Area End-->
<div class="row">
  <div class="col-md-12 col-md-12 pl-md-0 pr-md-0">
    <div class="card card-user">

      <div class="card-body pb-0">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card-stats">
              <div class="card-body color-boxes green-bg-color">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big icon-warning">
                      <i class="fa fa-user"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Total Records</p>
                      <p class="card-title">{{RecordCount}}
                        <p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class=" card-stats">
              <div class="card-body color-boxes blue-bg-color">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big icon-warning">
                      <i class="fa fa-money"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Dummy</p>
                      <p class="card-title">$ 1,345
                        <p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class=" card-stats">
              <div class="card-body color-boxes purple-bg-color">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big icon-warning">
                      <i class="fa fa-list"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Dummy</p>
                      <p class="card-title">23
                        <p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>

      <div class="card-header">
        <h5 class="card-title"> New Loan </h5>
      </div>


      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <input type="hidden" formControlName="Id">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Code </label>
                <input type="text" class="form-control" [readOnly]="isUpdate" placeholder="Enter Code"
                  (keypress)="omitSpecialCharacterAndSpace($event)" formControlName="Code"
                  [ngClass]="{ 'is-invalid': submitted && f.Code.errors }">
                <div *ngIf="submitted && f.Code.errors" class="invalid-feedback">
                  <div *ngIf="f.Code.errors.required"> Code is required</div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control" placeholder="Description" value=""
                  placeholder="Enter Deparment Name" formControlName="Description"
                  [ngClass]="{ 'is-invalid': submitted && f.Description.errors }">
                <div *ngIf="submitted && f.Description.errors" class="invalid-feedback">
                  <div *ngIf="f.Description.errors.required"> Name is required</div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label> Loan Type</label>
                <select class="form-control" formControlName="LoanType"
                  [ngClass]="{ 'is-invalid': submitted && f.LoanType.errors }">
              
                  <option value="">Select Element Type</option>
                  <option value="AdvanceSalary">Advance Salary</option>
                  <option value="Personal">Personal</option>
                  <option value="Family">Family</option>
                  <option value="Health">Health</option>
                  <option value="Housing">Housing</option>
                  <option value="Other">Other</option>

                </select>
                <div *ngIf="submitted && f.LoanType.errors" class="invalid-feedback">
                  <div *ngIf="f.LoanType.errors.required"> Element Type is required</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label> Max Amount / Year</label>
                <input type="text" class="form-control" (keypress)="onlyNumber($event)" placeholder="Enter MaxAmount" formControlName="MaxAmount"
                  [ngClass]="{ 'is-invalid': submitted && f.MaxAmount.errors }">
                <div *ngIf="submitted && f.MaxAmount.errors" class="invalid-feedback">
                  <div *ngIf="f.MaxAmount.errors.required"> Max Amount is required</div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label> Min Repayment Amount</label>
                <input type="text" class="form-control" (keypress)="onlyNumber($event)" placeholder="Enter MaxAmount" formControlName="MinRepaymentAmount"
                  [ngClass]="{ 'is-invalid': submitted && f.MinRepaymentAmount.errors }">
                <div *ngIf="submitted && f.MinRepaymentAmount.errors" class="invalid-feedback">
                  <div *ngIf="f.MinRepaymentAmount.errors.required"> Min Repayment Amount is required</div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label> Status</label>
                <select class="form-control" formControlName="flgActive"
                  [ngClass]="{ 'is-invalid': submitted && f.flgActive.errors }">
              
                  <option value="">Select Status</option>
                  <option value="true"> Active</option>
                  <option value="false">InActive</option>
                  

                </select>
                <div *ngIf="submitted && f.flgActive.errors" class="invalid-feedback">
                  <div *ngIf="f.flgActive.errors.required"> Status is required</div>
                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label> Max No Of Installments</label>
                <input type="text" class="form-control" (keypress)="onlyNumber($event)" placeholder="Enter MaxNoOfInstallments" formControlName="MaxNoOfInstallments"
                  [ngClass]="{ 'is-invalid': submitted && f.MaxNoOfInstallments.errors }">
                <div *ngIf="submitted && f.MaxNoOfInstallments.errors" class="invalid-feedback">
                  <div *ngIf="f.MaxNoOfInstallments.errors.required"> Max No Of Installments is required</div>
                </div>
              </div>
            </div>
           

          </div>



          <div class="row">
            <div class="col-md-12 text-right">
              <button type="submit" class="btn btn-primary"><i class="fa fa-dot-circle-o"></i> <span
                  *ngIf="!isUpdate"> Create </span> <span *ngIf="isUpdate"> Update</span>
              </button>
              <button type="reset" class="btn btn-danger ml-2" (click)="clearForm()"><i class="fa fa-ban"></i>
                Reset</button>
            </div>
          </div>
        </form>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="card-header">
            <h5 class="card-title"> <i class="fa fa-align-justify"></i>Loan List </h5>
          </div>
        </div>
        <div class="col-md-6">
            <div class="card-header">
              <div class="card-title text-right">
                Search Here: <input type="text" [(ngModel)]="searchData">
              </div>
            </div>
        </div>
      </div>

      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>Code</th>
              <th>Description</th>
              <th>MaxAmount</th>
              <th>LoanType</th>
              <th>MinRepaymentAmount</th>
              <th>MaxNoOfInstallments</th>
              <th>Status</th>
              <th>CreatedBy</th>
              <th>Actions</th>
            </thead>
            <tbody>
              <tr *ngFor='let p of LoanList | filter:searchData; let i = index'>
                <td>{{p.code}} </td>
                <td>{{p.description}} </td>
                <td>{{p.maxAmount}} </td>
                <td>{{p.loanType}} </td>
                <td>{{p.minRepaymentAmount}} </td>
                <td>{{p.maxNoOfInstallments}} </td>
                <td>{{p.flgActive}} </td>
                <td>{{p.createdBy}} </td>
                <td>
                  <i class="fa fa-edit clickable" (click)="Update(p)"></i>
                </td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>