<!--Loading Area-->
<div *ngIf="loading" class="loader-box">
  <div class="loader"></div>
  <div class="textt">LOADING...</div>
</div>
<!--Loading Area End-->
<div class="row">
  <div class="col-md-12 col-md-12 pl-md-0 pr-md-0">
    <div class="card card-user">

      <div class="card-body pb-0">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card-stats">
              <div class="card-body color-boxes green-bg-color">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big icon-warning">
                      <i class="fa fa-user"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Total Records</p>
                      <p class="card-title">{{RecordCount}}
                      <p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class=" card-stats">
              <div class="card-body color-boxes blue-bg-color">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big icon-warning">
                      <i class="fa fa-money"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Dummy</p>
                      <p class="card-title">$ 1,345
                      <p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class=" card-stats">
              <div class="card-body color-boxes purple-bg-color">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big icon-warning">
                      <i class="fa fa-list"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Dummy</p>
                      <p class="card-title">23
                      <p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      
      <div class="card-header">
        <h5 class="card-title"> New Job Description  </h5>
      </div>

      
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <input type="hidden" formControlName="Id">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label> Code </label>
                <input type="text" class="form-control" [readOnly]="isUpdate" placeholder="Enter Code"
                  (keypress)="omitSpecialCharacterAndSpace($event)" formControlName="Code"
                  [ngClass]="{ 'is-invalid': submitted && f.Code.errors }">
                <div *ngIf="submitted && f.Code.errors" class="invalid-feedback">
                  <div *ngIf="f.Code.errors.required"> Code is required</div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" placeholder="Name" value=""
                  formControlName="Name"
                  [ngClass]="{ 'is-invalid': submitted && f.Name.errors }">
                <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
                  <div *ngIf="f.Name.errors.required"> Name is required</div>
                </div>
              </div>
            </div>
           
            <div class="col-md-4">
              <div class="form-group">
                <div class="form-group">
                  <label> Designation </label>
                  <select name="" class="form-control" formControlName="Designation"
                    [ngClass]="{ 'is-invalid': submitted && f.Designation.errors }">
                    <option value="" disabled>Choose Designation</option>
                    <option *ngFor='let p of DesignationList' [ngValue]='p.designationName'>{{p.designationName}}</option>

                  </select>
                  <div *ngIf="submitted && f.Designation.errors" class="invalid-feedback">
                    <div *ngIf="f.Designation.errors.required">User Rol Name is required</div>
                  </div>
                </div>
              </div>
            </div>


          </div>

          <div class="row">
            
            <div class="col-md-4">
              <div class="form-group">
                <div class="form-group">
                  <label> Skill Code </label>
                  <select name="" class="form-control" formControlName="SkillCode"
                    [ngClass]="{ 'is-invalid': submitted && f.SkillCode.errors }" (change)="onSkillsChange($event)" >
                    <option value="">Choose Skill Code</option>
                    <option *ngFor='let p of SkillsList' [ngValue]='p.skillCode'>{{p.skillCode}}</option>
                  </select>
                  <div *ngIf="submitted && f.SkillCode.errors" class="invalid-feedback">
                    <div *ngIf="f.SkillCode.errors.required">Skill Code is required</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Skill Description</label>
                <input type="text" class="form-control" placeholder="SkillDescription" value=""
                  formControlName="SkillDescription"
                  [ngClass]="{ 'is-invalid': submitted && f.SkillDescription.errors }">
                <div *ngIf="submitted && f.SkillDescription.errors" class="invalid-feedback">
                  <div *ngIf="f.SkillDescription.errors.required"> Skill Description is required</div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label> Mandatory </label>
                <input type="checkbox" class="" formControlName="flgMandatory" />
              </div>
            </div>
          </div>
     
          <div class="row">
            
            <div class="col-md-4">
              <div class="form-group">
                <div class="form-group">
                  <label> Qualification Code </label>
                  <select name="" class="form-control" formControlName="QualificationCode"
                    [ngClass]="{ 'is-invalid': submitted && f.QualificationCode.errors }" (change)="onQualificationChange($event)">
                    <option value="" disabled>Choose Skill Code</option>
                    <option *ngFor='let p of qualificationList' [ngValue]='p.qualificaionCode'>{{p.qualificationName}}</option>

                  </select>
                  <div *ngIf="submitted && f.QualificationCode.errors" class="invalid-feedback">
                    <div *ngIf="f.QualificationCode.errors.required">Qualification Code is required</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Qualification Name</label>
                <input type="text" class="form-control" placeholder="QualificationName" value=""
                  formControlName="QualificationName"
                  [ngClass]="{ 'is-invalid': submitted && f.QualificationName.errors }">
                <div *ngIf="submitted && f.QualificationName.errors" class="invalid-feedback">
                  <div *ngIf="f.QualificationName.errors.required"> Qualification Name is required</div>
                </div>
              </div>
            </div>
            
            <div class="col-md-4">
              <div class="form-group">
                <div class="form-group">
                  <label> Department </label>
                  <select name="" class="form-control" formControlName="Department"
                    [ngClass]="{ 'is-invalid': submitted && f.Department.errors }" >
                    <option value="" disabled>Choose Department</option>
                    <option *ngFor='let p of DeptList' [ngValue]='p.departmentName'>{{p.departmentName}}</option>

                  </select>
                  <div *ngIf="submitted && f.Department.errors" class="invalid-feedback">
                    <div *ngIf="f.Department.errors.required">Department is required</div>
                  </div>
                </div>
              </div>
            </div>

          </div>
     <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label> Location</label>
          <select class="form-control" formControlName="Location"
            [ngClass]="{ 'is-invalid': submitted && f.Location.errors }">
           
            <option value="">Select Location</option>
            <option value="Lahore">Lahore</option>
            <option value="Karachi">Karachi</option>

          </select>
          <div *ngIf="submitted && f.Location.errors" class="invalid-feedback">
            <div *ngIf="f.Location.errors.required">Location is required</div>
          </div>
        </div>
      </div>
     </div>

          <div class="row">
            <div class="col-md-12 text-right">
              <button type="submit" class="btn btn-primary"><i class="fa fa-dot-circle-o"></i> <span
                  *ngIf="!isUpdate"> Create</span> <span *ngIf="isUpdate"> Update</span>
              </button>
              <button type="reset" class="btn btn-danger ml-2" (click)="clearForm()"><i class="fa fa-ban"></i>
                Reset</button>
            </div>
          </div>
        </form>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="card-header">
            <h5 class="card-title"> <i class="fa fa-align-justify"></i> Job Descriptions List </h5>
          </div>
        </div>
        <div class="col-md-6">
            <div class="card-header">
              <div class="card-title text-right">
                Search Here: <input type="text" [(ngModel)]="searchData">
              </div>
            </div>
        </div>
      </div>

      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">

             
              <th> Code</th>
              <th> Name</th>
              <th> Designation</th>
              <th>Skill Code</th>
              <th>Skill Description</th>
              <th>Mandatory</th>
              <th> Qualification Code</th>
              <th>Qualification Name</th>
              <th>Department</th>
              <th>Location</th>
              <th>Created By</th>
              <th>Actions</th>
            </thead>
            <tbody>

              <tr *ngFor='let p of JobDescriptionsList | filter:searchData; let i = index'>
                <td>{{p.code}} </td>
                <td>{{p.name}} </td>
                <td>{{p.designation}} </td>
                <td>{{p.skillCode}} </td>
                <td>{{p.skillDescription}} </td>
                <td>{{p.flgMandatory}} </td>
                
                <td>{{p.qualificationCode}} </td>
                <td>{{p.qualificationName}} </td>
                <td>{{p.department}} </td>
                <td>{{p.location}} </td>
                <td>{{p.createdBy}} </td>
                

                <td>
                  <i class="fa fa-edit clickable" (click)="Update(p)"></i>
                </td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>