<!--Loading Area-->
<div *ngIf="loading" class="loader-box">
  <div class="loader"></div>
  <div class="textt">LOADING...</div>
</div>
<!--Loading Area End-->
<div class="row">
  <div class="col-md-12 col-md-12 pl-md-0 pr-md-0">
    <div class="card card-user">

      <div class="card-body pb-0">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card-stats">
              <div class="card-body color-boxes green-bg-color">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big icon-warning">
                      <i class="fa fa-user"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Total Records</p>
                      <p class="card-title">{{RecordCount}}
                      <p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class=" card-stats">
              <div class="card-body color-boxes blue-bg-color">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big icon-warning">
                      <i class="fa fa-money"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Dummy</p>
                      <p class="card-title">$ 1,345
                      <p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class=" card-stats">
              <div class="card-body color-boxes purple-bg-color">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big icon-warning">
                      <i class="fa fa-list"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Dummy</p>
                      <p class="card-title">23
                      <p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      
      <div class="card-header">
        <h5 class="card-title"> New Cost Center  </h5>
      </div>

      
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <input type="hidden" formControlName="Id">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label> Code </label>
                <input type="text" class="form-control" [readOnly]="isUpdate" placeholder="Enter Code"
                  (keypress)="omitSpecialCharacterAndSpace($event)" formControlName="Code"
                  [ngClass]="{ 'is-invalid': submitted && f.Code.errors }">
                <div *ngIf="submitted && f.Code.errors" class="invalid-feedback">
                  <div *ngIf="f.Code.errors.required"> Code is required</div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" placeholder="Name" value=""
                  formControlName="Name"
                  [ngClass]="{ 'is-invalid': submitted && f.Name.errors }">
                <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
                  <div *ngIf="f.Name.errors.required"> Name is required</div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label> Effective Date </label>
                <input type="date" class="form-control"  placeholder="Enter EffectiveDate"
                   formControlName="EffectiveDate"
                  [ngClass]="{ 'is-invalid': submitted && f.EffectiveDate.errors }">
                <div *ngIf="submitted && f.EffectiveDate.errors" class="invalid-feedback">
                  <div *ngIf="f.EffectiveDate.errors.required"> Effective Date  is required</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            
            <div class="col-md-4">
              <div class="form-group">
                <label> Chargeable To</label>
                <select class="form-control" formControlName="ChargeableTo"
                  [ngClass]="{ 'is-invalid': submitted && f.ChargeableTo.errors }">
                 
                  <option value="">Select Chargeable To</option>
                  <option value="Employee">Employee</option>
                  <option value="Employer">Employer</option>

                </select>
                <div *ngIf="submitted && f.ChargeableTo.errors" class="invalid-feedback">
                  <div *ngIf="f.ChargeableTo.errors.required">Chargeable to is required</div>
                </div>
              </div>
            </div>
           
            <div class="col-md-4">
              <div class="form-group">
                <label> Included In Salary</label>
                <select class="form-control" formControlName="IncludedInSalary"
                  [ngClass]="{ 'is-invalid': submitted && f.IncludedInSalary.errors }">
                 
                  <option value="">Select Included In Salary</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>

                </select>
                <div *ngIf="submitted && f.IncludedInSalary.errors" class="invalid-feedback">
                  <div *ngIf="f.IncludedInSalary.errors.required">Included In Salary to is required</div>
                </div>
              </div>
            </div>
          </div>
     
          <div class="row">
            <div class="col-md-12 text-right">
              <button type="submit" class="btn btn-primary"><i class="fa fa-dot-circle-o"></i> <span
                  *ngIf="!isUpdate"> Create</span> <span *ngIf="isUpdate"> Update</span>
              </button>
              <button type="reset" class="btn btn-danger ml-2" (click)="clearForm()"><i class="fa fa-ban"></i>
                Reset</button>
            </div>
          </div>
        </form>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="card-header">
            <h5 class="card-title"> <i class="fa fa-align-justify"></i> Cost Centers List </h5>
          </div>
        </div>
        <div class="col-md-6">
            <div class="card-header">
              <div class="card-title text-right">
                Search Here: <input type="text" [(ngModel)]="searchData">
              </div>
            </div>
        </div>
      </div>

      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th> Code</th>
              <th> Name</th>
              <th> EffectiveDate</th>
              <th>ChargeableTo</th>
              <th>IncludedInSalary</th>
              <th>Created By</th>
             
              <th>Actions</th>
            </thead>
            <tbody>
              <tr *ngFor='let p of CostCentersList | filter:searchData; let i = index'>
                <td>{{p.code}} </td>
                <td>{{p.name}} </td>
                <td>{{p.effectiveDate| date:'dd-MM-yyyy'}} </td>
                <td>{{p.chargeableTo}} </td>
                <td>{{p.includedInSalary}} </td>
                <td>{{p.createdBy}} </td>
                
                <td>
                  <i class="fa fa-edit clickable" (click)="Update(p)"></i>
                </td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
